<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <main>
        <nav class="navbar">
            <a class="navbar-item" href="/">
            <i class="fas fa-home"></i> Home
            </a>
            <a class="navbar-item active" href="#">
            <i class="fa-solid fa-user"></i> Profile
            </a>
            <a class="navbar-item" href="/skills">
            <i class="fa-solid fa-gear"></i> Skills
            </a>
            <a class="navbar-item" href="/achiements">
            <i class="fa-solid fa-trophy"></i> Achievements
            </a>
        </nav>
        <div className="container">
            <ul class="info-box">
                <li class="info-box-item">Country: Malaysia</li>
                <li class="info-box-item">Age: 16</li>
                <li class="info-box-item">Hobbies: Weightlifting, Calisthenics, Japan (Language, Culture, Anime)</li>
                <li class="info-box-item">Socials: @randomed90</a> 
                <br></br>
                <a target="_blank" class="info-link" href="https://twitter.com/Randomed90_"> @Randomed90_</a> 
                <br></br>
                <a target="_blank" class="info-link" href="https://www.instagram.com/_randomed/">_randomed</a>
                <br></br>
                <a target="_blank" class="info-link" href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAAETQyJ4BScqTW4tCuDU7uCW4wydZqTddMJA&keywords=randomed%20undefined&origin=RICH_QUERY_SUGGESTION&position=0&searchId=d375e4f9-ce81-41c9-97fb-ce41280adcdd&sid=IB0">@randomed undefined</a>
                </li>
            </ul>
            </div>
        </main>
</body>
</html>